<div id="topoDetailContent" *ngIf="!update && topo">
  <mat-card class="header" align="center">
    <img id="topoImage" src="../../../assets/{{topo.photo.name}}"/>
    <div class="content">
      <mat-card-header class="card-header">
        <mat-card-title>{{topo.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-header-content">
        <ul>
          <li><img src="../../../assets/location.svg"/>{{topo.country}} - {{topo.region}}</li>
          <li><img src="../../../assets/cotation.svg"/>{{topo.cotationMin.label}} - {{topo.cotationMax.label}}</li>
          <li><img src="../../../assets/calendar.svg">{{topo.publicationDate}}</li>
        </ul>
      </mat-card-content>
  </div>
  </mat-card>
  <mat-card class="description" align="center">
    <mat-card-header>
      <div mat-card-avatar class="description-image"></div>
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{topo.description}}</mat-card-content>
  </mat-card>
  <mat-card *ngIf="topo.spots?.length > 0" class="spotsList" align="center">
    <mat-card-header>
      <div mat-card-avatar class="list-image"></div>
      <mat-card-title>Liste des spots</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let spot of topo.spots">{{spot.name}}</mat-card-content>
  </mat-card>
  <button mat-stroked-button (click)="onUpdate()">Modifier</button>
</div>
<app-topo-update [topo]="topo" [cotations]="cotations" [spots]="spots" *ngIf="update" (topoUpdatedEvent)="updateTopo($event)"></app-topo-update>

