#topoDetailContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  width: 80%;
  margin-top: 50px;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.card-header-content {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: center;
  margin-top: 50px;
}

li {
  list-style: none;
}

.description-image {
  background-image: url("src/assets/description.svg");
  background-size: cover;
}

.list-image {
  background-image: url("src/assets/list.svg");
  background-size: cover;
}

#topoImage {
  height: 500px;
}
