@import "src/app/shared/layout/topo-spot-detail";
@import "src/app/shared/layout/create-form";

.official-logo {
  background-image: url("src/assets/official.png");
  background-size: cover;
  height: 50px;
  width: 50px;
}
