<div class="entityDetailContent" *ngIf="!update && spot">
  <mat-card class="header" align="center">
   <ngb-carousel class="carousel" *ngIf="spot.photos?.length > 0; else defaultPhoto">
      <ng-template ngbSlide *ngFor="let photo of spot.photos">
        <img [src]="photo.fileToBase64String" class="carousel-img">
      </ng-template>
    </ngb-carousel>
    <ng-template #defaultPhoto>
      <img src="../assets/logo.png">
    </ng-template>
    <form [formGroup]="uploadPhotoForm">
      <mat-form-field appearance="outline">
        <mat-label>Ajouter/modifier photo</mat-label>
        <ngx-mat-file-input formControlName="photo" accept="image/*, image/jpg" (change)="onUploadPhoto()"></ngx-mat-file-input>
      </mat-form-field>
    </form>
    <div class="content">
      <mat-card-header class="card-header">
        <mat-card-title>{{spot.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-header-content">
        <ul>
          <li><img src="../../assets/location.svg"/>{{spot.country}} - {{spot.city}}</li>
          <li><img src="../../assets/cotation.svg"/>{{spot.cotationMin.label}} - {{spot.cotationMax.label}}</li>
        </ul>
        <button mat-stroked-button (click)="onUpdate()" *ngIf="isAuthorized">Modifier</button>
        <button mat-stroked-button (click)="onDelete()" color="warn" *ngIf="isAdmin">Supprimer</button>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="description" align="center">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="description-image"></div>
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{spot.description}}</mat-card-content>
  </mat-card>
  <mat-card align="center">
    <mat-card-header>
      <div mat-card-avatar class="list-image"></div>
      <mat-card-title [matBadge]="secteurs.length | numberToString" matBadgeOverlap="false" matBadgeColor="warn">
        Liste des secteurs
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let secteur of secteurs" class="secteur">
      <span>{{secteur.name}}</span>
      <div *ngIf="isAuthorized">
        <button mat-mini-fab color="primary" (click)="onEditSecteur(secteur.id)"><img src="assets/edit.svg"></button>
        <button mat-mini-fab color="warn" (click)="onDeleteSecteur(secteur.id)"><img src="assets/delete.svg"></button>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthorized">
      <div class="row createFormPanel">
        <mat-accordion class="createAccordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Ajouter secteur</mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="secteurForm" (ngSubmit)="onAddSecteur()" class="createForm">
              <mat-form-field appearance="outline" class="createName">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline" class="createDescription">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
              <button type="submit" class="btn btn-primary submit">Valider</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<app-comment *ngIf="!update && spot" [spotId]="spotId"></app-comment>
<app-spot-update *ngIf="update" [spot]="spot" [cotations]="cotations" [secteurs]="secteurs"
                 [isAdmin]="isAdmin" (spotUpdatedEvent)="updateSpot($event)">
</app-spot-update>
