<nav ngbNav class="navbar navbar-dark navbar-expand-md bg-dark">
  <a class="navbar-brand logo" routerLink="/">
    <span class="logo-img"></span>
    <span class="navbar-title">Les amis de l'escalade</span>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" id="topos-menu" href="javascript:void(0);" ngbDropdownToggle>
            <span>Topos</span>
        </a>
        <ul ngbDropdownMenu aria-labelledby="topos-menu">
          <li>
            <a routerLink="topos" routerLinkActive="active" ngbDropdownItem>
              <span>Tous les topos</span>
            </a>
          </li>
          <li>
            <a routerLink="topos/search" routerLinkActive="active" ngbDropdownItem>
              <span>Recherche de topos</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" id="spots-menu" href="javascript:void(0);" ngbDropdownToggle>
          <span>Spots</span>
        </a>
        <ul ngbDropdownMenu aria-labelledby="spots-menu">
          <li>
            <a routerLink="spots" routerLinkActive="active" ngbDropdownItem>
              <span>Tous les spots</span>
            </a>
          </li>
          <li>
            <a routerLink="spots/search" routerLinkActive="active" ngbDropdownItem>
              <span>Recherche de spots</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" id="secteurs-menu" href="javascript:void(0);" ngbDropdownToggle>
          <span>Secteurs</span>
        </a>
        <ul ngbDropdownMenu aria-labelledby="secteurs-menu">
          <li>
            <a routerLink="secteurs" routerLinkActive="active" ngbDropdownItem>
              <span>Tous les secteurs</span>
            </a>
          </li>
          <li>
            <a routerLink="secteurs/search" routerLinkActive="active" ngbDropdownItem>
              <span>Recherche de secteurs</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" id="voies-menu" href="javascript:void(0);" ngbDropdownToggle>
          <span>Voies</span>
        </a>
        <ul ngbDropdownMenu aria-labelledby="voies-menu">
          <li>
            <a routerLink="voies" routerLinkActive="active" ngbDropdownItem>
              <span>Toutes les voies</span>
            </a>
          </li>
          <li>
            <a routerLink="voies/search" routerLinkActive="active" ngbDropdownItem>
              <span>Recherche de voies</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" id="longueurs-menu" href="javascript:void(0);" ngbDropdownToggle>
          <span>Longueurs</span>
        </a>
        <ul ngbDropdownMenu aria-labelledby="longueurs-menu">
          <li>
            <a routerLink="longueurs" routerLinkActive="active" ngbDropdownItem>
              <span>Toutes les longueurs</span>
            </a>
          </li>
          <li>
            <a routerLink="longueurs/search" routerLinkActive="active" ngbDropdownItem>
              <span>Recherche de longueurs</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" id="compte-menu" href="javascript:void(0);" ngbDropdownToggle>
          <span>Compte</span>
        </a>
        <ul ngbDropdownMenu aria-labelledby="compte-menu">
          <li>
            <a routerLink="account" routerLinkActive="active" ngbDropdownItem>
              <span>Profil</span>
            </a>
          </li>
          <li>
            <a routerLink="logout" routerLinkActive="active" ngbDropdownItem>
              <span>Se déconnecter</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
