.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12.5rem;
}

.comment-input {
  width: 21.875rem;
}

.comment-input textarea {
  height: 6.25rem;
}

button {
  margin: 0 0.625rem;
}


