.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}

.comment-input {
  width: 350px;
}

.comment-input textarea {
  height: 100px;
}

button {
  margin: 0 10px;
}


