@import "src/app/shared/layout/card";

.form {
  width: 100px;
  margin: 50px auto;
}

.form-menu {
  width: 400px;
}

.topo-content {
  width: 800px;
  border-radius: 25px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}

.searchForm {
  width: 70%;
  margin: 50px auto;
}

mat-form-field {
  margin : 10px;
}

.searchButtons {
  margin: 0 10px;
}

.searchButtons button {
  margin: 0 10px;
}

