@import "src/app/shared/layout/card";

.form {
  margin: auto;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-menu {
  width: 400px;
}

.topo-content {
  width: 800px;
  border-radius: 25px;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
