<div>
  <div class="entityResume jumbotron">
    <h2>Liste des topos</h2>
    <hr>
    <span>Vous trouverez, ci-dessous, la liste des topos enregistrés par la communauté ou l'association.</span>
    <span>Vous avez la possibilité de consulter leur fiche détaillée ainsi que de réserver des topos qui vous intéressent.</span>
  </div>
  <div class="searchForm">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <mat-form-field appearance="outline">
        <mat-label>Pays</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cotation min</mat-label>
        <mat-select formControlName="cotationMin">
          <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cotation max</mat-label>
        <mat-select formControlName="cotationMax">
          <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle formControlName="available">Disponible ?</mat-slide-toggle>
      <div class="searchButtons" align="end">
        <button mat-stroked-button color="primary" type="submit">Rechercher</button>
        <button mat-stroked-button type="reset">Effacer les critères</button>
      </div>
    </form>
  </div>
  <div class="row createFormPanel">
    <mat-accordion class="createAccordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Créer topo</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="topoForm" (ngSubmit)="onCreate()" class="createForm">
          <mat-form-field appearance="outline" class="createName">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline" class="createCountry">
            <mat-label>Pays</mat-label>
            <input matInput formControlName="country">
          </mat-form-field>
          <mat-form-field appearance="outline" class="createRegion">
            <mat-label>Région</mat-label>
            <input matInput formControlName="region">
          </mat-form-field>
          <mat-form-field appearance="outline" class="createCotation">
            <mat-label>Cotation min</mat-label>
            <mat-select formControlName="cotationMin">
              <mat-option disabled>Cotation min</mat-option>
              <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="createCotation">
            <mat-label>Cotation max</mat-label>
            <mat-select formControlName="cotationMax">
              <mat-option disabled>Cotation max</mat-option>
              <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="createDescription">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <button type="submit" class="btn btn-primary submit">Envoyer</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="topos?.length > 0" class="card-container" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= totalPages">
    <mat-card *ngFor="let topo of topos" class="card">
      <mat-card-header class="card-header">
        <mat-card-title>{{topo.name}}</mat-card-title>
        <mat-card-subtitle>{{topo.country}}, {{topo.region}}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="topo.photo" mat-card-image src="../assets/{{topo.photo.name}}" alt="photo topo">
      <mat-card-actions align="center">
        <button mat-stroked-button routerLink="{{topo.id}}">Detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
