<div>
  <div class="topo-content jumbotron">
    <h2>Liste des topos</h2>
    <hr>
    <span>Vous trouverez, ci-dessous, la liste des topos enregistrés par la communauté ou l'association.</span>
    <span>Vous avez la possibilité de consulter leur fiche détaillée ainsi que de réserver des topos qui vous intéressent.</span>
  </div>
  <div class="searchForm">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <mat-form-field appearance="outline">
        <mat-label>Pays</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cotation min</mat-label>
        <mat-select formControlName="cotationMin">
          <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cotation max</mat-label>
        <mat-select formControlName="cotationMax">
          <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle formControlName="available">Disponible ?</mat-slide-toggle>
      <div class="searchButtons" align="end">
        <button mat-stroked-button color="primary" type="submit">Rechercher</button>
        <button mat-stroked-button type="reset">Effacer les critères</button>
      </div>
    </form>
  </div>
  <div class="row form">
    <div class="col">
      <div ngbDropdown class="d-inline-block" placement="bottom-right">
        <button class="btn btn-outline-primary" id="topoForm" ngbDropdownToggle>Créer topo</button>
        <div ngbDropdownMenu aria-labelledby="topoForm" class="form-menu">
          <form class="px-4 py-3" [formGroup]="topoForm" (ngSubmit)="onCreate()">
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="name" placeholder="nom du topo" formControlName="name">
            </div>
            <div class="form-group">
              <label for="country">Pays</label>
              <input type="text" class="form-control" id="country" placeholder="France" formControlName="country">
            </div>
            <div class="form-group">
              <label for="region">Région</label>
              <input type="text" class="form-control" id="region" placeholder="Bourgogne Franche-Comté" formControlName="region">
            </div>
            <div class="form-group">
              <label for="cotationMin">Cotation min</label>
              <select id="cotationMin" class="form-control" formControlName="cotationMin" *ngIf="cotations?.length > 0">
                <option value="" disabled>Cotation min</option>
                <option *ngFor="let cotation of cotations" [ngValue]="cotation">{{cotation.label}}></option>
              </select>
            </div>
            <div class="form-group">
              <label for="cotationMax">Cotation max</label>
              <select id="cotationMax" class="form-control" formControlName="cotationMax" *ngIf="cotations?.length > 0">
                <option value="" disabled>Cotation max</option>
                <option *ngFor="let cotation of cotations" [ngValue]="cotation">{{cotation.label}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" placeholder="description topo" formControlName="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary submit">Envoyer</button>
          </form>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="topos?.length > 0" class="card-container" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= totalPages">
    <mat-card *ngFor="let topo of topos" class="card">
      <mat-card-header class="card-header">
        <mat-card-title>{{topo.name}}</mat-card-title>
        <mat-card-subtitle>{{topo.country}}, {{topo.region}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/{{topo.photo.name}}" alt="photo topo">
      <mat-card-actions align="center">
        <button mat-stroked-button routerLink="{{topo.id}}">Detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
