<div class="entity-detail-content" *ngIf="!update && secteur">
  <mat-card class="header">
    <div class="content">
      <mat-card-header class="card-header">
        <mat-card-title>{{secteur.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-header-content">
        <img src="assets/secteur.png">
          <button mat-stroked-button (click)="onUpdate()" *ngIf="isAuthorized">
            Modifier
          </button>
          <button mat-stroked-button (click)="onDelete()" color="warn" *ngIf="isAdmin">Supprimer</button>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="description">
    <mat-card-header>
      <div mat-card-avatar class="description-image"></div>
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{secteur.description}}</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="list-image"></div>
      <mat-card-title [matBadge]="voies.length | numberToString" matBadgeOverlap="false" matBadgeColor="warn">
        Liste des voies
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let voie of voies" class="voies">
      <span>{{voie.name}}</span>
      <div *ngIf="isAuthorized">
        <button mat-mini-fab color="primary" (click)="onEditVoie(voie.id)"><img src="assets/edit.svg"></button>
        <button mat-mini-fab color="warn" (click)="onDeleteVoie(voie.id)"><img src="assets/delete.svg"></button>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthorized">
      <div class="row create-form-panel">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Créer voie</mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="voieForm" (ngSubmit)="onAddVoie()" class="create-form-content">
              <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cotation min</mat-label>
                <mat-select formControlName="cotationMin">
                  <mat-option disabled>Cotation min</mat-option>
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cotation max</mat-label>
                <mat-select formControlName="cotationMax">
                  <mat-option disabled>Cotation max</mat-option>
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
              <button type="submit" class="btn btn-primary submit">Valider</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<app-secteur-update *ngIf="update" [secteur]="secteur" [spots]="spots" (secteurUpdatedEvent)="updateSecteur($event)">
</app-secteur-update>
