<div class="entity-detail-content" *ngIf="!update && secteur">
  <mat-card class="header">
    <div class="content">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="header-img"></div>
        <mat-card-title>{{secteur.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-header-content">
        <div class="description">
          {{secteur.description}}
        </div>
        <button mat-stroked-button (click)="onUpdate()" *ngIf="isAuthorized">
          Modifier
        </button>
        <button mat-stroked-button (click)="onDelete()" color="warn" *ngIf="isAdmin">Supprimer</button>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="list-image"></div>
      <mat-card-title [matBadge]="voies.length | numberToString" matBadgeOverlap="false" matBadgeColor="warn">
        Liste des voies
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let voie of voies" class="entity-list">
      <button mat-button routerLink="/voies/{{voie.id}}">{{voie.name}}</button>
      <div *ngIf="isAuthorized">
        <button mat-icon-button color="warn" (click)="onDeleteVoie(voie.id)"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthorized">
      <div class="row create-form-panel">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Créer voie</mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="voieForm" (ngSubmit)="onAddVoie()" class="create-form-content">
              <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cotation min</mat-label>
                <mat-select formControlName="cotationMin">
                  <mat-option disabled>Cotation min</mat-option>
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cotation max</mat-label>
                <mat-select formControlName="cotationMax">
                  <mat-option disabled>Cotation max</mat-option>
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
              <button mat-stroked-button color="primary" type="submit" [disabled]="voieForm.invalid">Valider</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<app-secteur-update *ngIf="update" [secteur]="secteur" [spots]="spots" (secteurUpdatedEvent)="updateSecteur($event)">
</app-secteur-update>
