@import "src/app/shared/layout/card";
@import "src/app/shared/layout/entity-list";
@import "src/app/shared/layout/create-form";

.search-form {
  width: 85%;
}

.officialLogo {
  width: 50px;
  height: 50px;
}

.carousel-img {
  height: 400px;
  width: 366px;
  margin: auto;
}
