@import "src/app/shared/layout/card";
@import "src/app/shared/layout/entity-list";
@import "src/app/shared/layout/create-form";

.officialLogo {
  width: 3.125rem;
  height: 3.125rem;
}

.carousel-img {
  height: 25rem;
  width: 22.5rem;
  margin: auto;
}
