@import "src/app/shared/layout/card";
@import "src/app/shared/layout/entityResume";
@import "src/app/shared/layout/searchForm";
@import "src/app/shared/layout/createForm";

.searchForm {
  width: 85%;
}

.officialLogo {
  width: 50px;
  height: 50px;
}

.carousel-img {
  height: 400px;
  width: 366px;
  margin: auto;
}
