<div>
  <div class="entity-resume jumbotron">
    <h2>Liste des spots</h2>
    <hr>
    <span>Vous trouverez, ci-dessous, la liste des spots enregistrés par la communauté ou l'association. </span>
    <span>Vous avez la possibilité de consulter leur fiche détaillée ainsi que d'ajouter des spots. </span>
    <br />
    <span>Les spots validés par l'association arborent ce logo : </span>
    <br />
    <img src="../assets/official.png" class="officialLogo" alt="logo officiel les amis de l'escalade">
  </div>

  <div class="container search-form">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <mat-form-field appearance="outline" class="no-margin">
                <mat-label>Pays</mat-label>
                <input matInput formControlName="country">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <mat-form-field appearance="outline" class="no-margin">
                <mat-label>Ville</mat-label>
                <input matInput formControlName="city">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <mat-form-field appearance="outline" class="no-margin">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <mat-form-field appearance="outline" class="no-margin">
                <mat-label>Cotation min</mat-label>
                <mat-select formControlName="cotationMin">
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <mat-form-field appearance="outline" class="no-margin">
                <mat-label>Cotation max</mat-label>
                <mat-select formControlName="cotationMax">
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <mat-slide-toggle formControlName="isOfficial">Officiel ?</mat-slide-toggle>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <button mat-stroked-button color="primary" type="submit">Rechercher</button>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 form-input">
              <button mat-stroked-button type="reset">Effacer les critères</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="create-form-panel">
    <mat-accordion>
      <mat-expansion-panel [disabled]="!isLoggedIn" matTooltip="Vous devez être connecté pour créer un spot"
                           [matTooltipDisabled]="isLoggedIn">
        <mat-expansion-panel-header>
          <mat-panel-title>Créer spot</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="createSpotForm" (ngSubmit)="onCreate()" class="create-form-content">
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Pays</mat-label>
              <input matInput formControlName="country">
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Ville</mat-label>
              <input matInput formControlName="city">
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Cotation min</mat-label>
              <mat-select formControlName="cotationMin">
                <mat-option disabled>Cotation min</mat-option>
                <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Cotation max</mat-label>
              <mat-select formControlName="cotationMax">
                <mat-option disabled>Cotation max</mat-option>
                <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <button mat-stroked-button color="primary" type="submit" [disabled]="createSpotForm.invalid">Valider</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div *ngIf="spots?.length > 0" class="card-container" infinite-scroll (scrolled)="loadPage(page +1)"
       [infiniteScrollDisabled]="page >= totalPages">
    <mat-card *ngFor="let spot of spots" class="card">
      <mat-card-header class="card-header">
        <div *ngIf="spot.official" mat-card-avatar class="official-img"></div>
        <mat-card-title>{{spot.name}}</mat-card-title>
        <mat-card-subtitle>{{spot.country}}, {{spot.city}}</mat-card-subtitle>
        <mat-card-subtitle>Cotation : {{spot.cotationMin.label}} - {{spot.cotationMax.label}}</mat-card-subtitle>
      </mat-card-header>
      <ngb-carousel *ngIf="spot.photos?.length > 0; else defaultPhoto" class="carousel">
        <ng-template ngbSlide *ngFor="let photo of spot.photos">
          <img [src]="photo.fileToBase64String" class="carousel-img">
        </ng-template>
      </ngb-carousel>
      <ng-template #defaultPhoto>
        <img src="../assets/logo.png" class="carousel-img">
      </ng-template>
      <mat-card-actions >
        <button mat-stroked-button routerLink="{{spot.id}}">Detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
