<div class="entity-detail-content" *ngIf="!update && longueur">
  <mat-card class="header">
    <div class="content">
      <mat-card-header class="card-header">
        <mat-card-title>{{longueur.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-header-content">
        <img src="assets/longueur.png">
        <div>
          <img src="assets/cotation.svg"/>
          {{longueur.cotationMin.label}} - {{longueur.cotationMax.label}}
        </div>
        <button mat-stroked-button (click)="onUpdate()" *ngIf="isAdmin || longueur.userId === user.id">Modifier</button>
        <button mat-stroked-button (click)="onDelete()" color="warn" *ngIf="isAdmin">Supprimer</button>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="description">
    <mat-card-header>
      <div mat-card-avatar class="description-image"></div>
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{longueur.description}}</mat-card-content>
  </mat-card>
</div>
<app-longueur-update *ngIf="update" [longueur]="longueur" [cotations]="cotations" [voies]="voies"
                 (longueurUpdatedEvent)="updateLongueur($event)">
</app-longueur-update>
