<div class="form">
  <form [formGroup]="spotUpdateForm" (ngSubmit)="onUpdate()">
    <mat-form-field appearance="outline" id="nameField">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Pays</mat-label>
      <input matInput formControlName="country">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ville</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Cotation min</mat-label>
        <mat-select formControlName="cotationMin">
          <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cotation max</mat-label>
        <mat-select formControlName="cotationMax">
          <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" id="descriptionField">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit" class="btn btn-primary submit"
            [disabled]="!spotUpdateForm.valid">Valider</button>
  </form>
</div>
