<div>
  <div class="entityResume jumbotron">
    <h2>Liste des secteurs</h2>
    <hr>
    <span>Vous trouverez, ci-dessous, la liste des secteurs enregistrés par la communauté ou l'association. </span>
    <span>Vous avez la possibilité de consulter leur fiche détaillée ainsi que d'en ajouter. </span>
  </div>
  <div class="searchForm">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <div class="searchButtons" align="center">
        <button mat-stroked-button color="primary" type="submit">Rechercher</button>
        <button mat-stroked-button type="reset">Effacer les critères</button>
      </div>
    </form>
  </div>
  <div class="row createFormPanel">
    <mat-accordion class="createAccordion">
      <mat-expansion-panel [disabled]="!isLoggedIn" matTooltip="Vous devez être connecté pour créer un secteur"
                           [matTooltipDisabled]="isLoggedIn">
        <mat-expansion-panel-header>
          <mat-panel-title>Créer secteur</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="createSecteurForm" (ngSubmit)="onCreate()" class="createForm">
          <mat-form-field appearance="outline" class="createName">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline" class="createDescription">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <button type="submit" class="btn btn-primary submit">Valider</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="secteurs?.length > 0" class="card-container" infinite-scroll (scrolled)="loadPage(page +1)" [infiniteScrollDisabled]="page >= totalPages">
    <mat-card *ngFor="let secteur of secteurs" class="card">
      <mat-card-header class="card-header">
        <mat-card-title>{{secteur.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/logo.png" alt="photo spot">
      <mat-card-actions align="center">
        <button mat-stroked-button routerLink="{{secteur.id}}">Detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
