<div>
  <div class="entity-resume jumbotron">
    <h2>Liste des secteurs</h2>
    <hr>
    <span>Vous trouverez, ci-dessous, la liste des secteurs enregistrés par la communauté ou l'association. </span>
    <span>Vous avez la possibilité de consulter leur fiche détaillée ainsi que d'en ajouter. </span>
  </div>

  <div class="container search-form">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 p-0 m-auto form-input">
              <mat-form-field appearance="outline" class="no-margin">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 ml-auto form-input">
              <button mat-stroked-button color="primary" type="submit">Rechercher</button>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 mr-auto form-input">
              <button mat-stroked-button type="reset">Effacer les critères</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="create-form-panel">
    <mat-accordion>
      <mat-expansion-panel [disabled]="!isLoggedIn" matTooltip="Vous devez être connecté pour créer un secteur"
                           [matTooltipDisabled]="isLoggedIn">
        <mat-expansion-panel-header>
          <mat-panel-title>Créer secteur</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="createSecteurForm" (ngSubmit)="onCreate()" class="create-form-content">
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Liste des spots</mat-label>
              <mat-select formControlName="spots">
                <mat-option *ngFor="let spot of spots" [value]="spot">{{spot.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-stroked-button color="primary" type="submit" [disabled]="createSecteurForm.invalid">Valider</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="secteurs?.length > 0" class="card-container" infinite-scroll (scrolled)="loadPage(page +1)"
       [infiniteScrollDisabled]="page >= totalPages">
    <mat-card *ngFor="let secteur of secteurs" class="card">
      <mat-card-header class="card-header">
        <mat-card-title>{{secteur.name}}</mat-card-title>
      </mat-card-header>
      <div class="logo-entite-container">
        <img src="../assets/secteur.png" alt="logo secteur" class="logo-entite">
      </div>
      <mat-card-actions>
        <button mat-stroked-button routerLink="{{secteur.id}}">Detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
