<div class="entityDetailContent" *ngIf="!update && topo">
  <mat-card class="header" align="center">
    <img *ngIf="topo.photo" class="entityImage" [src]="topo.photo.fileToBase64String"/>
    <form [formGroup]="uploadPhotoForm">
      <mat-form-field appearance="outline">
        <mat-label>Ajouter/modifier photo</mat-label>
        <ngx-mat-file-input formControlName="photo" accept="image/*, image/jpg" (change)="onUploadPhoto()"></ngx-mat-file-input>
      </mat-form-field>
    </form>
    <div class="content">
      <mat-card-header class="card-header">
        <mat-card-title>{{topo.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-header-content">
        <ul>
          <li><img src="../assets/location.svg"/>{{topo.country}} - {{topo.region}}</li>
          <li><img src="../assets/cotation.svg"/>{{topo.cotationMin.label}} - {{topo.cotationMax.label}}</li>
          <li><img src="../assets/calendar.svg">{{topo.publicationDate}}</li>
        </ul>
        <button mat-stroked-button (click)="onUpdate()" *ngIf="isAuthorized">Modifier</button>
        <button mat-stroked-button (click)="onDelete()" color="warn" *ngIf="isAdmin">Supprimer</button>
      </mat-card-content>
  </div>
  </mat-card>
  <mat-card class="description" align="center">
    <mat-card-header>
      <div mat-card-avatar class="description-image"></div>
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{topo.description}}</mat-card-content>
  </mat-card>
  <mat-card *ngIf="topo.spots?.length > 0" align="center">
    <mat-card-header>
      <div mat-card-avatar class="list-image"></div>
      <mat-card-title [matBadge]="topo.spots.length | numberToString" matBadgeOverlap="false" matBadgeColor="warn">
        Liste des spots
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let spot of topo.spots">{{spot.name}}</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="list-image"></div>
      <mat-card-title [matBadge]="topo.topoUsers.length | numberToString" matBadgeOverlap="false" matBadgeColor="warn">
        Liste des utilisateurs possédant ce topo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let topoUser of topo.topoUsers">
      {{topoUser.owner.username}}
      <button mat-button [disabled]="!topoUser.available" (click)="bookTopo(topoUser)">Réserver</button>
    </mat-card-content>
  </mat-card>
</div>
<app-topo-update [topo]="topo" [cotations]="cotations" [spots]="spots" *ngIf="update"
                 (topoUpdatedEvent)="updateTopo($event)">
</app-topo-update>

