<div>
  <div class="entity-resume jumbotron">
    <h2>Liste des voies</h2>
    <hr>
    <span>Vous trouverez, ci-dessous, la liste des voies enregistrées par la communauté ou l'association. </span>
    <span>Vous avez la possibilité de consulter leur fiche détaillée ainsi que d'ajouter des spots. </span>
  </div>
  <div class="search-form">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row-1 form-inputs">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cotation min</mat-label>
          <mat-select formControlName="cotationMin">
            <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cotation max</mat-label>
          <mat-select formControlName="cotationMax">
            <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="search-buttons row-1">
        <button mat-stroked-button color="primary" type="submit">Rechercher</button>
        <button mat-stroked-button type="reset">Effacer les critères</button>
      </div>
    </form>
  </div>
  <div class="create-form-panel">
    <mat-accordion>
      <mat-expansion-panel [disabled]="!isLoggedIn" matTooltip="Vous devez être connecté pour créer une voie"
                           [matTooltipDisabled]="isLoggedIn">
        <mat-expansion-panel-header>
          <mat-panel-title>Créer voie</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="createVoieForm" (ngSubmit)="onCreate()" class="create-form-content">
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Cotation min</mat-label>
              <mat-select formControlName="cotationMin">
                <mat-option disabled>Cotation min</mat-option>
                <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Cotation max</mat-label>
              <mat-select formControlName="cotationMax">
                <mat-option disabled>Cotation max</mat-option>
                <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <div class="row-1">
            <mat-form-field appearance="outline">
              <mat-label>Liste des secteurs</mat-label>
              <mat-select formControlName="secteurs">
                <mat-option *ngFor="let secteur of secteurs" [value]="secteur">{{secteur.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="submit" class="btn btn-primary submit" [disabled]="!createVoieForm.valid">Valider</button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="voies?.length > 0" class="card-container" infinite-scroll (scrolled)="loadPage(page +1)"
       [infiniteScrollDisabled]="page >= totalPages">
    <mat-card *ngFor="let voie of voies" class="card">
      <mat-card-header class="card-header">
        <mat-card-title>{{voie.name}}</mat-card-title>
        <mat-card-subtitle>Cotation : {{voie.cotationMin.label}} - {{voie.cotationMax.label}}</mat-card-subtitle>
      </mat-card-header>
      <div class="logo-entite-container">
        <img src="../assets/voie.png" alt="logo voie" class="logo-entite">
      </div>
      <mat-card-actions>
        <button mat-stroked-button routerLink="{{voie.id}}">Detail</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
