.card {
  width: 25rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.card-header {
  background-size: cover;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mat-card-image {
  height: 31.25rem;
  width: 22.85rem;
  margin: auto;
}

.official-img {
  background-image: url("src/assets/official.png");
  background-size: cover;
}

.logo-entite-container {
  height: 12.5rem;
  margin: auto;
}

.logo-entite {
  display: block;
  margin: auto;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
