.create-form-panel {
  width: 30%;
  margin: 3rem auto;

  .create-form-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .row-1 {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    margin: auto;
  }
}
