.createFormPanel {
  width: 70%;
  margin: 50px auto;
}

.createAccordion {
  width: 50%;
  margin: auto;
}

.createCotation {
  width: 45% !important;
}

.createForm mat-form-field {
  width: 80%;
}
