.entity-list {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.entity-resume {
  width: 60%;
  border-radius: 1.5rem;
  margin: 3rem auto;
  text-align: center;
  padding: 1.5rem;
}

.search-form {
  width: 70%;
  margin: auto;

  .form-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-container {
  width: 100%;
}

.no-margin {
  margin-bottom: -1.25rem;
}
