.entity-detail-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  *:not(mat-card-title) {
    font-size: 0.95rem;
  }
}

mat-card {
  width: 80%;
  margin-top: 3.125rem;
}

mat-card-header {
  background-color: #f7f7f7;
  padding: 1rem;
}


.header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .content {
    width: 70%;
  }

  mat-card-header {
    display: flex;
    justify-content: center;
  }

  mat-card-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .description {
    margin-bottom: 1.5rem;
    width: 80%;
  }

  button {
    width: 50%;
    margin: 0.5rem 0;
  }

  .header-img {
    height: 3.125rem;
    width: 3.125rem;
  }

}

mat-card-title {
  padding-top: 0.8rem;
}

.card-header-content {
  img {
    margin: auto;
  }

  div {
    text-align: center;
  }
}

li {
  list-style: none;
}

mat-card-content {
  margin-top: 2rem;
}

.list-image {
  background-image: url("src/assets/list.svg");
  background-size: cover;

}

.create-form-panel {
  width: 50% !important;
  margin: 1.25rem auto;
}

.entity-list {
  height: 3.125rem;
}
