.entity-detail-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  *:not(mat-card-title) {
    font-size: 0.95rem;
  }
}

mat-card {
  width: 80%;
  margin-top: 50px;
}

mat-card-header {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}


.header {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .content {
    width: 70%;
  }

  mat-card-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  mat-card-content *:not(img) {
    width: 100%;
  }
}

.card-header-content {
  img {
    margin: auto;
  }

  div {
    text-align: center;
  }
}

li {
  list-style: none;
}

mat-card-content {
  margin-top: 2rem;
}

.description-image {
  background-image: url("src/assets/description.svg");
  background-size: cover;
}

.list-image {
  background-image: url("src/assets/list.svg");
  background-size: cover;
}

.create-form-panel {
  width: 50% !important;
  margin: 20px auto;
}
