<div class="form">
  <form [formGroup]="secteurUpdateForm" (ngSubmit)="onUpdate()">
    <div class="row">
      <mat-form-field appearance="outline" id="nameField">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" id="descriptionField">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Liste des voies</mat-label>
        <mat-select formControlName="voies" multiple [compareWith]="compareObjects" [(ngModel)]="secteur.voies">
          <mat-option *ngFor="let voie of voies" [value]="voie">{{voie.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-stroked-button color="primary" type="submit" class="btn btn-primary submit">Valider</button>
  </form>
</div>
