<div class="form">
  <form [formGroup]="secteurUpdateForm" (ngSubmit)="onUpdate()">
    <mat-form-field appearance="outline" id="nameField">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" id="descriptionField">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Liste des spots</mat-label>
      <mat-select formControlName="spots">
        <mat-option *ngFor="let spot of spots" [value]="spot">{{spot.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit"
            [disabled]="secteurUpdateForm.invalid">Valider</button>
  </form>
</div>
