.card {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-header {
  background-size: cover;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
