<mat-card class="profil" align="center">
  <mat-card-header>
    <div mat-card-avatar class="profil-image"></div>
    <mat-card-title>Informations profil</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="item-header">Username</span>
        <span class="item-data">{{user.username}}</span>
      </mat-list-item>
      <mat-list-item>
        <span class="item-header">Email</span>
        <span class="item-data">{{user.email}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="spots" align="center">
  <mat-card-header>
    <div mat-card-avatar class="list-image"></div>
    <mat-card-title>Liste des spots créés</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="user.spotsCreated?.length > 0; else noSpot">
      <mat-list>
        <mat-list-item *ngFor="let spot of user.spotsCreated">
          <button mat-button [routerLink]="['/spots', spot.id]">{{spot.name}}</button>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #noSpot>
      Vous n'avez pas encore créé de Spot
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="topos-created" align="center">
  <mat-card-header>
    <div mat-card-avatar class="list-image"></div>
    <mat-card-title>Liste des topos créés</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="user.toposCreated?.length > 0; else noTopoCreated">
      <mat-list>
        <mat-list-item *ngFor="let topo of user.toposCreated">
          <button mat-button [routerLink]="['/topos', topo.id]">{{topo.name}}</button>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #noTopoCreated>
      Vous n'avez pas encore créé de Topo
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="topos-rent" align="center">
  <mat-card-header>
    <div mat-card-avatar class="list-image"></div>
    <mat-card-title>Liste des topos loués (location en cours)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="user.toposRent?.length >0; else noTopoRent">
      <mat-list>
        <mat-list-item *ngFor="let topo of user.toposRent">
          <button mat-button [routerLink]="['/topos', topo.id]">{{topo.name}}</button>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #noTopoRent>
      Vous n'avez pas de location en cours
    </ng-template>
  </mat-card-content>
</mat-card>
