<div class="entity-detail-content" *ngIf="!update && voie">
  <mat-card class="header">
    <div class="content">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="header-img"></div>
        <mat-card-title>{{voie.name}}</mat-card-title>
        <mat-card-subtitle>
          <img src="assets/cotation.svg"/>
          {{voie.cotationMin.label}} - {{voie.cotationMax.label}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-header-content">
        <div class="description">
          {{voie.description}}
      </div>
        <button mat-stroked-button (click)="onUpdate()" *ngIf="isAuthorized">Modifier</button>
        <button mat-stroked-button (click)="onDelete()" color="warn" *ngIf="isAdmin">Supprimer</button>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="list-image"></div>
      <mat-card-title [matBadge]="longueurs.length | numberToString" matBadgeOverlap="false" matBadgeColor="warn">
        Liste des longueurs
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let longueur of longueurs" class="entity-list">
      <button mat-button routerLink="/longueurs/{{longueur.id}}">{{longueur.name}}</button>
      <div *ngIf="isAuthorized">
        <button mat-icon-button color="warn" (click)="onDeleteLongueur(longueur.id)"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isAuthorized">
      <div class="row create-form-panel">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Créer longueur</mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="longueurForm" (ngSubmit)="onAddLongueur()" class="create-form-content">
              <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cotation min</mat-label>
                <mat-select formControlName="cotationMin">
                  <mat-option disabled>Cotation min</mat-option>
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cotation max</mat-label>
                <mat-select formControlName="cotationMax">
                  <mat-option disabled>Cotation max</mat-option>
                  <mat-option *ngFor="let cotation of cotations" [value]="cotation">{{cotation.label}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
              <button mat-stroked-button color="primary" type="submit" [disabled]="longueurForm.invalid">Valider</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<app-voie-update *ngIf="update" [voie]="voie" [cotations]="cotations" [secteurs]="secteurs"
                 (voieUpdatedEvent)="updateVoie($event)">
</app-voie-update>
