.home {
  width: 70%;
  border-radius: 1.5rem;
  margin: auto;
  text-align: center;
  padding: 1.5rem;
  margin-top: 3rem;
}

#title {
  padding: 0.5rem 0;
}

#home-content {
  padding-top: 1.5rem;
}

p {
  padding-top: 1.5rem;
}
