<div class="home jumbotron">
  <img src="../assets/logo.png" alt="logo">
  <h2 id="title">Les amis de l'escalade</h2>
  <hr>
  <div id="home-content">
    <span>Bienvenue sur le site de la communauté des amis de l'escalade</span>
    <p>Les amis de l'escalade est une association de passionnés d'escalade. L'objectif de ce site est de faire vivre cette
      communauté autours d'une passion : l'escalade. Vous pouvez partager du contenu (topos, sites, secteurs, voies, longueurs),
    réserver des topos, commenter, faire vivre ce sport que nous aimons tant.</p>
  </div>
</div>
