@import "src/app/shared/layout/topo-spot-detail";

*:not(mat-card-title):not(mat-icon) {
  font-size: 0.95rem;
}

.profile-container {
  margin: auto;
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.profil-image {
  background-image: url("src/assets/user.svg");
  background-size: cover;
}

.panel-content {
  display: flex;
  flex-flow: column wrap;
}

.accepted {
  background-color: lightgreen;
}

.pending {
  background-color: lightblue;
}

.refused {
  background-color: lightcoral;
}

.default {
  background-color: lightgrey;
}

.item-header {
  font-size: 2rem;
  margin-right: 1rem;
}

mat-list-item, mat-expansion-panel {
  margin-bottom: 1rem;
}

mat-chip-list {
  margin-right: 1rem;
}
