@import "src/app/shared/layout/topo-spot-detail";

.comment-image {
  background-image: url("src/assets/comment.svg");
  background-size: cover;
}
.card-container mat-card-header {
  margin-bottom: 1.25rem;
}

.card-comment {
  width: 80%;
  margin: 1.25rem auto;
}

mat-card-content mat-card-header {
  display: flex;
  flex-direction: row;
}

.header-content {
  height: 100%;
  width: 50%;
}


.header-buttons {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin : auto 1.25rem;
}

.delete-button {
  margin-left: 1.25rem;
}

.create-button {
  display: block;
  margin: auto;
}

mat-icon {
  font-size: 1.5rem;
}
