<div class="entity-detail-content" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= totalPages">
  <mat-card class="card-container">
    <mat-card-header>
      <div mat-card-avatar class="comment-image"></div>
      <mat-card-title>Commentaires</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card *ngFor="let comment of comments" class="card-comment">
        <mat-card-header>
          <div class="header-content">
            <mat-card-title>{{comment.user.username}}</mat-card-title>
            <mat-card-subtitle>{{comment.date | date: 'full' }}</mat-card-subtitle>
          </div>
          <div class="header-buttons">
            <button mat-icon-button color="primary" class="edit-button" (click)="onUpdate(comment)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="delete-button" (click)="onDelete(comment.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>{{comment.content}}</mat-card-content>
      </mat-card>
    </mat-card-content>
      <button mat-stroked-button (click)="onCreate()" class="create-button">Ecrire un commentaire</button>
  </mat-card>
</div>
